* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
:focus {
    outline: 0;
    border:none;
    /*color: rgba(0, 0, 0, 0);*/
}
.hide {
    display: none !important;
}
.hangle {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.engnum {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
 body {
    /* flex container */
    display: flex;
    /* etc */
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
select {
    background-color: transparent;
}
.Page {
    /* flex item */
    flex: auto;
    /* flex container */
    display: flex;
    flex-direction: column;
    /* etc */
    width: 100%;
    height: 100%;
}
/* EmptyData */
.EmptyData {
    /* flex item */
    flex: 1 0 auto;
    /* flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* etc */
}
.EmptyData > .EmptyData-Item {
    /* flex item */
    flex: 1 0 auto;
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* etc */
}
.EmptyData > .EmptyData-Item > .EmptyData-Item-Text {
    /* etc */
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.72px;
    color: #d4d1ca;
}
/* PageLogo */
.PageLogo {
    /* flex item */
    flex: 0 0 50px;
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* etc */
    padding-top: 19px;
}
/* ToolBar */
.ToolBar {
    /* flex item */
    flex: 0 0 53px;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: flex-start;
    /* etc */
    height: 53px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.ToolBar > div.flex-gap {
    /* flex item */
    flex: 0 0 5px;
    /* etc */
    width: 5px;
}
.ToolBar > .ToolBarLabel {
    /* flex item */
    flex: 1 0 auto;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-top: 7px;
    padding-left: 15px;
}
/* ActionBar */
.ActionBar {
    /* flex item */
    flex: 0 0 50px;
    /* flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* etc */
    height: 50px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}
.ActionBar > .ActionBar-GoBack {
    /* flex item */
    flex: 0 0 26px;
    /* flex container */
    display: inline-flex;
    /* etc */
    width: 26px;
    cursor: pointer;
}
.ActionBar > .ActionBar-Title {
    /* flex item */
    flex: 0 1 auto;
    /* flex container */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* etc */
    width: calc(100% - 52px);
}
.ActionBar > .ActionBar-Title > .ActionBar-Title-Text {
    /* etc */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ActionBar > .ActionBar-Title > .text span {
    /* etc */
    color: #39352b;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -1.28px;
}
.ActionBar > .ActionBar-More {
    /* flex item */
    flex: 0 0 26px;
    /* flex container */
    display: inline-flex;
    /* etc */
    width: 26px;
}
/* TabBar */
.TabBar {
    /* flex item */
    flex: 0 0 45px;
    /* flex container */
    display: flex;
    /* etc */
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    background-color: #fff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.03);
    margin-bottom: 16px;
}
.TabBar > .TabBar-Item-List {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: flex;
    /* etc */
    height: 100%;
}
.TabBar > .TabBar-Item-List > .TabBar-Item {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: inline-flex;
    flex-direction: column;
    /* etc */
    height: 100%;
    cursor: pointer;
}
.TabBar > .TabBar-Item-List > .TabBar-Item > .TabBar-Item-Label {
     /* etc */
     width: 100%;
     height: calc(100% - 4px);
     text-align: center;
}
.TabBar > .TabBar-Item-List > .TabBar-Item > .TabBar-Item-Index {
     /* etc */
     width: 100%;
     height: 4px;
     border-radius: 2px;
}
.TabBar > .TabBar-Item-List > .TabBar-Item > .selected {
     /* etc */
     background-color: #ffae29;
}

/* search keyword */
.SearchKeyword {
    /* flex item */
    flex: 1 0 122px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-left: 10px;
    padding-right: 9px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SearchKeyword > .SearchKeyword-Input {
    /* flex item */
    flex: 1 0 77px;
    /* flex container */
    display: inline-flex;
    /* etc */
    padding-top: 8px;
    padding-bottom: 8px;
}
.SearchKeyword > .SearchKeyword-Input > input {
    /* etc */
    padding: 0;
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.9px;
    color: #39352b;
    font-weight: 300;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
.SearchKeyword > .SearchKeyword-Button {
    /* flex item */
    flex: 0 0 26px;
    /* flex container */
    display: inline-flex;
}

/* select date */
.SelectDate {
    /* flex item */
    flex: 1 0 128px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-left: 12px;
    padding-right: 1px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SelectDate > .SelectDate-Input {
    /* flex item */
    flex: 1 0 78px;
    /* flex container */
    display: inline-flex;
    /* etc */
    padding-top: 8px;
    padding-bottom: 8px;
}
.SelectDate > .SelectDate-Button {
    /* flex item */
    flex: 0 0 36px;
    /* flex container */
    display: inline-flex;
}
.SelectDate > .SelectDate-Input > input {
    /* etc */
    padding: 0;
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: #39352b;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* select term */
.SelectTerm {
    /* flex item */
    flex: 1 0 128px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-left: 12px;
    padding-right: 10px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SelectTerm > .SelectTerm-Start-Input {
    /* flex item */
    flex: 1 0 78px;
    /* flex container */
    display: inline-flex;
    /* etc */
    padding-top: 8px;
    padding-bottom: 8px;
}
.SelectTerm > .SelectTerm-Start-Button {
    /* flex item */
    flex: 0 0 36px;
    /* flex container */
    display: inline-flex;
}
.SelectTerm > .SelectTerm-Start-Input > input {
    /* etc */
    padding: 0;
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: #39352b;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
.SelectTerm > .SelectTerm-Delim {
    /* flex item */
    flex: 0 0 auto;
    /* flex container */
    display: inline-flex;
    align-items: center;
    padding-right: 8px;
}
.SelectTerm > .SelectTerm-End-Input {
    /* flex item */
    flex: 1 0 78px;
    /* flex container */
    display: inline-flex;
    /* etc */
    padding-top: 8px;
    padding-bottom: 8px;
}
.SelectTerm > .SelectTerm-End-Button {
    /* flex item */
    flex: 0 0 36px;
    /* flex container */
    display: inline-flex;
}
.SelectTerm > .SelectTerm-End-Input > input {
    /* etc */
    padding: 0;
    border: none;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    color: #39352b;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
.SelectTerm > .SelectTerm-Gap {
    /* flex item */
    flex: 0 0 37px;
    /* flex container */
    display: inline-flex;
    align-content: center;
}
.SelectTerm > .SelectTerm-Search-Button {
    /* flex item */
    flex: 0 0 26px;
    /* flex container */
    display: inline-flex;
}

/* select year */
.SelectYear {
    /* flex item */
    flex: 1 0 70px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SelectYear > .SelectYear-Select {
    /* etc */
    width: 100%;
}
.SelectYear > .SelectYear-Select > select {
    /* etc */
    border: none;
    width: 100%;
    color: #39352b;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    padding-right: 4px;
}

/* select month */
.SelectMonth {
    /* flex item */
    flex: 1 0 70px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SelectMonth > .SelectMonth-Select {
    /* etc */
    width: 100%;
}
.SelectMonth > .SelectMonth-Select > select {
    /* etc */
    border: none;
    width: 100%;
    color: #39352b;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    padding-right: 4px;
}

/* select district */
.SelectDistrict {
    /* flex item */
    flex: 1 0 70px;
    /* flex container */
    display: inline-flex;
    align-content: flex-start;
    /* etc */
    height: 38px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid #d4d1ca;
    border-radius: 5px;
}
.SelectDistrict > .SelectDistrict-Select {
    /* etc */
    width: 100%;
}
.SelectDistrict > .SelectDistrict-Select > select {
    /* etc */
    border: none;
    width: 100%;
    color: #39352b;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    padding-right: 4px;
}

/* TableHead */
.TableHead {
    /* flex item */
    flex: 0 0 auto;
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* etc */
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.2px;
    color: #39352b;
    font-weight: 500;
}
.TableHead > .TableHead-Row {
    /* flex item */
    flex: 0 0 42px;
    /* flex container */
    display: flex;
    justify-content: center;
    /* etc */
    background-color: #f9f9f9;
    border-top: 1px solid #39352b;
    border-bottom: 1px solid #d4d1ca;
    padding-left: 15px;
    padding-right: 15px;
}
.TableHead > .TableHead-Row:first-child {
    /* etc */
    border-top: 1px solid #39352b;
}
.TableHead > .TableHead-Row > .TableHead-Row-Cell {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* etc */
}

/* TableFoot */
.TableFoot {
    /* flex item */
    flex: 0 0 auto;
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* etc */
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #39352b;
}
.TableFoot > .TableFoot-Row {
    /* flex item */
    flex: 0 0 49px;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: flex-start;
    /* etc */
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(212, 209, 202, 0.3);
}
.TableFoot > .TableFoot-Row > .TableFoot-Row-Cell {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* etc */
    vertical-align: top;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Noto Sans KR', sans-serif;
}
.TableFoot > .TableFoot-Row > .TableFoot-Row-Cell-Left {
    /* flex container */
    justify-content: flex-start;
    /* etc */
}
.TableFoot > .TableFoot-Row > .TableFoot-Row-Cell-Right {
    /* flex container */
    justify-content: flex-end;
    /* etc */
}

/* TableBody */
.TableBody {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* etc */
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #39352b;
}
.TableBody > .TableBody-Row {
    /* flex item */
    flex: 0 0 41px;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: flex-start;
    /* etc */
    border-bottom: 1px solid rgba(212, 209, 202, 0.3);
    padding-left: 15px;
    padding-right: 15px;
}
.TableBody > .TableBody-Row:nth-child(2n) {
    /* etc */
    background-color: #fffcf8;
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell {
    /* flex item */
    flex: 1 1 auto;
    /* flex container */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell-Left {
    /* flex container */
    justify-content: flex-start;
    /* etc */
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell-Right {
    /* flex container */
    justify-content: flex-end;
    /* etc */
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell > .TableBody-Row-Cell-MultiLine {
    /* etc */
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell > .TableBody-Row-Cell-Text {
    /* etc */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell > .TableBody-Row-Cell-Graph {
    /* etc */
    width: 100%;
    align-self: flex-end;
    padding-bottom: 3px;
}
.TableBody > .TableBody-Row > .TableBody-Row-Cell > .TableBody-Row-Cell-Graph > .graph {
    /* etc */
    display: inline-block;
    background-color: #00b896;
    font-size: 1px;
    height: 10px;
}
/* etc */
.totalCounter {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #ffae29;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
.totalMoney {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #00b896;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}
.kickup {
    display: inline-block;
    padding-bottom: 3px;
}