<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todo.check">
    <!-- 인터넷 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 네트워크 상태 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 카메라 퍼미션 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" /> <!-- 파일업로드 퍼미션 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 외부 저장소 사용 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="q3fnas99mx" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 공통 / 메인 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 공통 / 로그인 -->
        <activity
            android:name=".activity.common.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 3자물류 / 홈 -->
        <activity
            android:name=".activity.usecase1.UseCase1HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 3자물류 / 공지사항 -->
        <activity
            android:name=".activity.usecase1.UseCase1Menu1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 3자물류 / 주문현황 -->
        <activity
            android:name=".activity.usecase1.UseCase1Menu2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 3자물류 / 주문현황(상세) -->
        <activity
            android:name=".activity.usecase1.UseCase1Menu21Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 3자물류 / 단가정보 -->
        <activity
            android:name=".activity.usecase1.UseCase1Menu3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 홈 -->
        <activity
            android:name=".activity.usecase2.UseCase2HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 주문현황 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 판매현황 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 이익현황 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 미수금현황 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu4Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 경영정보 / 자금현황 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu5Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- 경영정보 / 자금현황상세 -->
        <activity
            android:name=".activity.usecase2.UseCase2Menu51Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- 점검관리 / nfc -->
        <activity
            android:name=".activity.usecase3.UseCase3NfcReaderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 홈 -->
        <activity
            android:name=".activity.usecase3.UseCase3HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 평가이력 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 가맹점정보 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 평가1 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 평가완료 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu32Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 세부기준 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu33Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 점검관리 / 지도 -->
        <activity
            android:name=".activity.usecase3.UseCase3Menu34Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NaverMap.NaverMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>